* {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

#loading-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    /* opacity: 1; */
}

#loading {
    /* position: fixed; */
    display: flex;
    height: 100%;
    z-index: 10;
    justify-content: center;
}

.loading-gif {
    /* border-radius: 20%; */
    width: 150% !important;
    margin: auto auto;
}

.test {
    color: blanchedalmond;
    height: 100px;
    width: 100px;
    display: inline-flex;
    opacity: 1;
}

.grid_introduce5 {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    background-color: rgb(53, 73, 250);
    padding: .7px;
    margin: -18px 0px 0px 0px;
}

.introduce-item {
    border: 1px solid rgb(53, 73, 250);
    text-align: center;
    transition: all 200ms ease;
}

.top_marquee {
    height: auto;
    width: 100%;
    background-color: rgb(53, 73, 250);
    margin: auto 0px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    background-color: rgb(53, 73, 250);
    padding: .7px;
    margin: 0px 0px;
}

.grid-item {
    /* border: 2px solid rgb(57, 57, 57); */
    border: 2px solid rgb(53, 73, 250);
    text-align: center;
    transition: all 200ms ease;
    /* filter: url(#change); */
}

.grid-item img {
    width: 100%;
    height: 100%;
    filter: url(#change);
}

.color1:hover {
    /* opacity: 0.5; */
    /* transform: scale(2) translate(25%, 25%); */
}

.color1 {
    /* background-color: rgb(114, 80, 125); */
}

.color2 {
    /* background-color: rgb(78, 122, 155); */
    /* transform: translateX(50%); */
    animation: color2 1s infinite;
    animation-direction: alternate;
}

.content_carousel {
    display: flexbox;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: auto;
    top: 20%;
    left: 0;
    z-index: 1;
    opacity: 0;
}

.content_carousel_main {
    width: 75vmin;
    background-color: black;
    margin: 10px auto;
    padding: 10px 0px;
}

.carousel_btn_left {
    /* flex-direction: column-reverse; */
    width: auto;
    height: 50px;
    /* border-left: .5px solid #fff; */
    position: absolute;
    /* background-color: rgb(237, 148, 148); */
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 45%;
    left: 0%;
    z-index: 2;
}

.carousel_btn_right {
    /* flex-direction: column-reverse; */
    width: auto;
    height: 50px;
    /* border-left: .5px solid #fff; */
    position: absolute;
    /* background-color: rgb(206, 126, 126); */
    -webkit-transition: 0.2s;
    transition: 0.2s;
    top: 45%;
    left: 90.5%;
    margin: 0%;
    z-index: 2;
}

@keyframes color2 {
    0% {
        /* transform: rotateX(0); 左右擠壓*/
        /* transform: translateX(0); 左右移動*/
        /* transform: scaleY(0); 上下擠壓 */
    }
    100% {
        /* transform: rotateX(90deg); */
        /* transform: translateX(50%); */
        /* transform: scaleY(1); */
    }
}

.color3 {
    /* background-color: rgb(33, 140, 142); */
    animation: color3 1s infinite;
    animation-direction: alternate;
}

@keyframes color3 {
    0% {
        /* transform: scaleX(0);左右擠壓 */
    }
    100% {
        /* transform: scaleX(1); */
    }
}

.content {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    opacity: 1;
    background-color: black;
}

.testclass {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    z-index: 0;
    position: absolute;
    background-color: rgb(53, 73, 250);
}

.testclass_img_div {
    /* border: 1px solid rgb(57, 57, 57); */
    border: 1px solid rgb(53, 73, 250);
    text-align: center;
    transition: all 200ms ease;
    background-color: rgb(53, 73, 250);
}

.testclass_img {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(53, 73, 250);
    filter: url(#change);
    /* filter: sepia(50%) */
    /* filter: drop-shadow(16px 16px 20px rgb(0, 0, 0)) invert(75%); */
}

.content_area {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.window {
    background-color: rgb(0, 0, 0);
    display: flex;
    border: .5px solid #fff;
    position: absolute;
}

.window_header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 7vmin;
    border-bottom: .5px solid #fff;
    display: flex;
    transition: 0.2s 0.8s;
}

.window_header_roll {
    width: 100%;
    margin: auto 0px;
    align-items: center;
}

.window_header_gif {
    /* height: 100%; */
    /* width: auto; */
    width: 100%;
}

.window_header_close {
    flex-direction: column-reverse;
    width: 45px;
    border-left: .5px solid #fff;
    position: relative;
    background-color: rgb(0, 0, 0);
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.line1 {
    position: relative;
    background: #fff;
    top: 50%;
    left: 6%;
    height: .5px;
    width: 35px;
    transform: rotate(35deg);
}

.line2 {
    position: relative;
    background: #fff;
    top: 50%;
    left: 6%;
    height: .5px;
    width: 35px;
    transform: rotate(-35deg);
}

.content_about_1 {
    display: block;
    background-color: black;
    width: 100%;
    height: auto;
    top: 10%;
    left: -2%;
    z-index: -1;
    opacity: 1;
}

.content_about_2 {
    background-color: black;
    width: 100%;
    height: auto;
    top: 55%;
    right: 0%;
    z-index: -1;
    display: block;
    opacity: 1;
}

.content_about_1_main {
    width: auto;
    height: auto;
    background-color: black;
    margin: 10px;
    padding: 8px 10px;
}

h5 {
    color: #fff;
    /* font-size: 14px; */
    /* line-height: 1.64em; */
    /* letter-spacing: .2em; */
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.about_p {
    /* font-size: 12px; */
    color: white;
    /* line-height: 2em; */
    /* letter-spacing: 0.2em; */
}

.content_qa_main {
    padding: 6% 5%;
    height: 73%;
    overflow: scroll;
    overflow: hidden;
}

.qa_p {
    font-size: 10px;
    color: white;
    line-height: 1.64em;
    letter-spacing: 0.08em;
    text-align: center;
}

.content_video {
    flex-direction: column;
    background-color: black;
    z-index: -1;
    opacity: 1;
    width: 100%;
    height: auto;
    top: 20%;
    left: 0;
}

.content_video_main {
    padding: 15px 5px;
}

.video {
    width: 100%;
    padding: 2%;
}


/* 375 425 768 960 */

@media (min-width: 375px) {
    .top_marquee {
        /* height: auto;
        width: 250vmin; */
    }
    .content_qa_main {
        padding: 6% 5%;
        height: 55%;
        overflow: scroll;
        overflow: hidden;
    }
    .prev_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 23%;
        left: 6%;
        height: .5vmin;
        width: 20px;
        transform: rotate(55deg);
        border-radius: 10vmin;
    }
    .prev_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -10%;
        left: 6%;
        height: .5vmin;
        width: 20px;
        transform: rotate(-55deg);
        border-radius: 10vmin;
    }
    .next_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 23%;
        left: -10%;
        height: .5vmin;
        width: 20px;
        transform: rotate(-55deg);
        border-radius: 20px;
    }
    .next_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -10%;
        left: -10%;
        height: .5vmin;
        width: 20px;
        transform: rotate(55deg);
        border-radius: 20px;
    }
}

@media (min-width: 480px) {
    .content_about_1 {
        display: block;
        background-color: black;
        width: 90%;
        height: auto;
        top: 5%;
        left: -2%;
        z-index: -1;
        opacity: 1;
    }
    .content_about_2 {
        background-color: black;
        width: 70%;
        height: auto;
        top: 50%;
        right: 0%;
        z-index: -1;
        display: block;
        opacity: 1;
    }
    .content_about_1_main {
        width: auto;
        height: auto;
        background-color: black;
        margin: 15px;
        padding: 30px 24px;
    }
    h5 {
        color: #fff;
        font-size: 17px;
        /* line-height: 1.64em; */
        letter-spacing: .2em;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .about_p {
        /* font-size: 15px;
        color: white;
        line-height: 1.64em;
        letter-spacing: 0.1em; */
    }
    .content_qa_main {
        padding: 4% 5%;
        height: 46%;
        overflow: scroll;
        overflow: hidden;
    }
    .window_header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 5vmin;
        border-bottom: .5px solid #fff;
        display: flex;
        transition: 0.2s 0.8s;
    }
    /* .video {
        width: 100%;
        padding: 2.1%;
    } */
    .prev_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 24%;
        left: 6%;
        height: .5vmin;
        width: 20px;
        transform: rotate(55deg);
        border-radius: 10vmin;
    }
    .prev_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -10%;
        left: 6%;
        height: .5vmin;
        width: 20px;
        transform: rotate(-55deg);
        border-radius: 10vmin;
    }
    .next_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 24%;
        left: 3%;
        height: .5vmin;
        width: 20px;
        transform: rotate(-55deg);
        border-radius: 20px;
    }
    .next_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -10%;
        left: 3%;
        height: .5vmin;
        width: 20px;
        transform: rotate(55deg);
        border-radius: 20px;
    }
}

@media(min-width:768px) {
    .grid_introduce5 {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        background-color: rgb(53, 73, 250);
        padding: .7px;
        margin: -18px 0px 0px 0px;
    }
    .introduce-item {
        border: 2px solid rgb(53, 73, 250);
        text-align: center;
        transition: all 200ms ease;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .content_about_1 {
        display: block;
        background-color: black;
        width: 90%;
        height: auto;
        top: 2%;
        left: -2%;
        z-index: -1;
        opacity: 1;
    }
    .content_about_2 {
        background-color: black;
        width: 70%;
        height: auto;
        top: 50%;
        right: 0%;
        z-index: -1;
        display: block;
        opacity: 1;
    }
    .content_about_1_main {
        width: auto;
        height: auto;
        background-color: black;
        margin: 15px;
        padding: 30px 24px;
    }
    h5 {
        color: #fff;
        font-size: 19px;
        letter-spacing: .2em;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .about_p {
        /* font-size: 16px;
        color: white;
        line-height: 1.64em;
        letter-spacing: 0.1em; */
    }
    .qa_p {
        font-size: 16px;
    }
    .testclass {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        /* z-index: 0; */
        position: absolute;
    }
    .content_qa_main {
        padding: 1vmin 2vmin;
        height: 60%;
        overflow: scroll;
        overflow: hidden;
    }
    .content_video {
        flex-direction: column;
        background-color: black;
        z-index: -1;
        opacity: 1;
        width: 100%;
        height: auto;
        top: 15%;
        left: 0;
    }
    .carousel_btn_left {
        /* flex-direction: column-reverse; */
        width: auto;
        height: 50px;
        /* border-left: .5px solid #fff; */
        position: absolute;
        /* background-color: rgb(237, 148, 148); */
        -webkit-transition: 0.2s;
        transition: 0.2s;
        top: 45%;
        left: 0%;
    }
    .carousel_btn_right {
        /* flex-direction: column-reverse; */
        width: auto;
        height: 50px;
        /* border-left: .5px solid #fff; */
        position: absolute;
        /* background-color: rgb(206, 126, 126); */
        -webkit-transition: 0.2s;
        transition: 0.2s;
        top: 45%;
        left: 90.5%;
        margin: 0%;
    }
    .prev_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 50%;
        left: 6%;
        height: .5vmin;
        width: 35px;
        transform: rotate(55deg);
        border-radius: 10vmin;
    }
    .prev_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -9%;
        left: 6%;
        height: .5vmin;
        width: 35px;
        transform: rotate(-55deg);
        border-radius: 10vmin;
    }
    .next_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 50%;
        left: 20%;
        height: .5vmin;
        width: 35px;
        transform: rotate(-55deg);
        border-radius: 20px;
    }
    .next_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: -9%;
        left: 20%;
        height: .5vmin;
        width: 35px;
        transform: rotate(55deg);
        border-radius: 20px;
    }
    .content_carousel {
        display: flexbox;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: auto;
        top: 7%;
        left: 0;
        z-index: 1;
        opacity: 0;
    }
}

@media (min-width: 1200px) {
    .loading-gif {
        border-radius: 20%;
        width: 100% !important;
        margin: auto auto;
    }
    /* svg {
        height: 0%;
        opacity: 0;
        z-index: -10;
    } */
    .top_marquee {
        height: 3.5vmin;
        width: 100%;
        display: flex;
        background-color: rgb(53, 73, 250);
        margin: auto 0px;
    }
    .grid_introduce5 {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        background-color: rgb(53, 73, 250);
        padding: .7px;
        margin: -18px 0px 0px 0px;
    }
    .grid_introduce4 {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }
    .grid_introduce1 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        border: 2px solid rgb(53, 73, 250);
        background-color: rgb(53, 73, 250);
        margin: 0px 0px;
    }
    .grid_introduce2 {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        /* border: 2px solid rgb(53, 73, 250); */
    }
    .grid_introduce3 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        /* grid-template-rows: auto; */
        /* border: 2px solid rgb(53, 73, 250); */
    }
    .about_img {
        width: 100%;
        /* border: 2px solid rgb(53, 73, 250); */
    }
    .introduce-item {
        border: 2px solid rgb(53, 73, 250);
        text-align: center;
        transition: all 200ms ease;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto;
    }
    .content {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 1;
    }
    .testclass {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        z-index: 0;
        position: absolute;
    }
    .content_area {
        width: 910px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 20px 0px;
    }
    .window {
        background-color: rgb(0, 0, 0);
        display: flex;
        border: 1px solid #fff;
        position: absolute;
    }
    .window_header {
        background-color: black;
        width: 100%;
        height: 5vmin;
        border-bottom: 1px solid #fff;
        display: flex;
        transition: 0.2s 0.8s;
    }
    .window_header_roll {
        width: 100%;
        margin: auto 0px;
        align-items: center;
    }
    .window_header_close {
        flex-direction: column-reverse;
        width: 45px;
        border-left: 1px solid #fff;
        position: relative;
        background-color: rgb(0, 0, 0);
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }
    .line1 {
        position: relative;
        background: #fff;
        top: 50%;
        left: 6%;
        height: 1px;
        width: 35px;
        transform: rotate(35deg);
    }
    .line2 {
        position: relative;
        background: #fff;
        top: 50%;
        left: 6%;
        height: 1px;
        width: 35px;
        transform: rotate(-35deg);
    }
    img {
        width: 100%;
        height: auto;
    }
    .content_qa_main {
        padding: 2% 5%;
        height: 65%;
        overflow: scroll;
        overflow: hidden;
        text-align: center;
    }
    .content_about_1 {
        display: block;
        background-color: black;
        width: 55%;
        height: auto;
        top: 10%;
        left: -8%;
        z-index: -1;
        opacity: 1;
    }
    .content_about_2 {
        background-color: black;
        width: 65%;
        height: auto;
        top: 35%;
        right: -10%;
        z-index: -1;
        display: block;
        opacity: 1;
    }
    .content_about_1_main {
        width: auto;
        height: auto;
        background-color: black;
        margin: 20px;
        padding: 40px 24px;
    }
    h5 {
        color: #fff;
        font-size: 21px;
        /* line-height: 1.64em; */
        letter-spacing: .2em;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
    }
    .about_p {
        /* font-size: 16px; */
        /* color: white; */
        /* line-height: 1.64em; */
        /* letter-spacing: 0.1em; */
    }
    .qa_p {
        font-size: 16px;
        color: white;
        line-height: 1.64em;
        letter-spacing: 0.08em;
        text-align: center;
    }
    .content_video {
        flex-direction: column;
        background-color: black;
        z-index: -1;
        opacity: 1;
        width: 100%;
        height: auto;
        top: 10%;
        left: 0;
    }
    .content_video_main {
        width: 100vmin;
        background-color: black;
        margin: 10px auto;
        padding: 20px 30px;
    }
    .video {
        width: 100%;
        padding: 10px 20PX;
    }
    .carousel_btn_left {
        /* flex-direction: column-reverse; */
        width: auto;
        height: 50px;
        /* border-left: .5px solid #fff; */
        position: absolute;
        /* background-color: rgb(237, 148, 148); */
        -webkit-transition: 0.2s;
        transition: 0.2s;
        top: 45%;
        left: 0%;
    }
    .carousel_btn_right {
        /* flex-direction: column-reverse; */
        width: auto;
        height: 50px;
        /* border-left: .5px solid #fff; */
        position: absolute;
        /* background-color: rgb(206, 126, 126); */
        -webkit-transition: 0.2s;
        transition: 0.2s;
        top: 45%;
        left: 90.5%;
        margin: 0%;
    }
    .prev_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 92%;
        left: 6%;
        height: .5vmin;
        width: 6vmin;
        transform: rotate(55deg);
        border-radius: 10vmin;
    }
    .prev_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 8%;
        left: 6%;
        height: .5vmin;
        width: 6vmin;
        transform: rotate(-55deg);
        border-radius: 10vmin;
    }
    .next_arrow1 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 93%;
        left: 20%;
        height: .5vmin;
        width: 50px;
        transform: rotate(-55deg);
        border-radius: 20px;
    }
    .next_arrow2 {
        position: relative;
        background: rgb(255, 255, 255);
        top: 7%;
        left: 20%;
        height: .5vmin;
        width: 50px;
        transform: rotate(55deg);
        border-radius: 20px;
    }
    .content_carousel {
        display: flexbox;
        flex-direction: column;
        background-color: black;
        width: 100%;
        height: auto;
        top: 10%;
        left: 0;
        z-index: 1;
        opacity: 0;
    }
    .content_carousel_main {
        width: 80vmin;
        background-color: black;
        margin: 10px auto;
        padding: 10px 24px;
    }
}


/* TEST CODE */

.test {
    color: blanchedalmond;
    height: 100px;
    width: 100px;
    display: inline-flex;
    opacity: 1;
}

#getPicBtn {
    width: 100px;
    height: 50px;
    background-color: blue;
    border-radius: 20px;
}

#downloadedImg {
    width: 200px;
    height: auto;
}

#btn {
    padding: 5px 15px;
    background-color: aqua;
    width: 50px;
    color: #fff;
    cursor: pointer;
}